name: Check Javascript stuff

on:
  pull_request:
  push:
    branches: [main]

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                node-version: "25.5.0"
                registry-url: 'https://registry.npmjs.org'
                cache: 'npm'
                cache-dependency-path: bun.lock

            - uses: oven-sh/setup-bun@v2
              with:
                bun-version: "1.3.9"
            
            - run: bun install

            - name: Check for uncommitted changes
              run: |
                T=$(git status --porcelain)
                if [ -n "${T}" ]; then
                  echo "${T}"
                  echo "::error::Files are out of date. Run 'bun i' and commit the changes."
                  exit 1
                fi

            - run: bun run build
